<div class="container text-center" style="margin-top: 20px;">
    <h3>Расписание класса</h3>
</div>

<div class="main" style="margin-left: 10px;">
    <div class="container-fluid">
        <div class="row item_list">
            <div class="item">

                <table class="table table-sm">
                    <thead>
                        <td colspan="4">Понедельник</td>
                        <tr>
                            <th>№</th>
                            <th>Время</th>
                            <th>Название</th>
                            <th>Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="item">

                <table class="table table-sm">
                    <thead>
                        <td colspan="4">Вторник</td>
                        <tr>
                            <th>№</th>
                            <th>Время</th>
                            <th>Название</th>
                            <th>Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="item">

                <table class="table table-sm">
                    <thead>
                        <td colspan="4">Среда</td>
                        <tr>
                            <th>№</th>
                            <th>Время</th>
                            <th>Название</th>
                            <th>Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="item">
                <table class="table table-sm">
                    <thead>
                        <td colspan="4">Четверг</td>
                        <tr>
                            <th>№</th>
                            <th>Время</th>
                            <th>Название</th>
                            <th>Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="item">
                <table class="table table-sm">
                    <thead>
                        <td colspan="4">Пятница</td>
                        <tr>
                            <th>№</th>
                            <th>Время</th>
                            <th>Название</th>
                            <th>Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="item">
                <table class="table table-sm">
                    <thead>
                        <td colspan="4">Суббота</td>
                        <tr>
                            <th>№</th>
                            <th>Время</th>
                            <th>Название</th>
                            <th>Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>9.00-10.30</td>
                            <td>Русский язык</td>
                            <td>1-316</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>