<div class="container">
  <p *ngFor="let good of goods">
    <a [routerLink]="['/edit', good.id]">{{good.name}}</a>
  </p>
</div>


<div class="container">
  <div class="row">
      <div class="col-2">{{inPerson.id}}</div>
      <div class="col-2">{{inPerson.firstname}}</div>
      <div class="col-2">{{inPerson.lastname}}</div>
      <div class="col-2">{{inPerson.phone}}</div>
      <div class="col-2">
          <button class="btn btn-warning"
              (click)="openModal(template)">
              Изменить</button>
      </div>
      <div class="col-2">
          <button class="btn btn-danger"
              (click)="onDeletePerson(inPerson)">
              Удалить</button>
      </div>
  </div>

  <hr>

</div>

