* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: auto;
    width: 100%;
    background-color: #white;
}

.item_list{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: #fff;
    width: 30%;
    height: auto;
    margin: 0 10px;
    font-size: small;
}

@media (max-width: 1000px){
    .item{
        width: 100%;
        height: auto;
        margin: 20px 10px;
    }
}



@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}