<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
    <!-- <img src="https://sun9-3.userapi.com/c858020/v858020854/1858e7/FtHX3u3bqxA.jpg" width="30" height="30"
      class="d-inline-block align-top" alt=""> -->
    Школа 68
  </a>
  <a class="navbar-brand">Расписание</a>
</nav>

<div class="information no-print" style="margin-left: 10px; margin-right: 10px;">




<!-- <p class="text-center justify-content-center" style="margin-left: 10px; margin-right: auto;">Для отображения расписания выберите в списке класс.</p> -->


<div class="alert alert-success" style="margin-top: 70px">
  <strong>Внимание!</strong> Для отображения расписания выберите в списке класс.
</div>

<div class="row justify-content-center align-self-center">
  
  <form class="form-inline">
    
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">

      <option selected>Выберите...</option>
      <option value="bell">Расписание звонков</option>
      <option value="6a">6a</option>
      <option value="6b">6б</option>
      <option value="6v">6в</option>
    </select>


    <button type="submit" class="btn btn-primary my-1">Открыть</button>
  </form>
</div>

</div>




<app-classschedule></app-classschedule>






<!-- <nav class="navbar fixed-bottom navbar-light bg-light">

  <span class="navbar-text">
    Made by @Rouvas799 ver. 0.2
  </span>
</nav> -->