<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://sun9-3.userapi.com/c858020/v858020854/1858e7/FtHX3u3bqxA.jpg" width="30" height="30"
      class="d-inline-block align-top" alt="">
    Школа 68
  </a>
  <a class="navbar-brand">Расписание предметов</a>

</nav>

<p class="text-center no-print" style="margin-top: 20px;">Для отображения расписания выберите в списке класс.</p>
<div class="row justify-content-center align-self-center no-print" style="margin-top: auto;">
  <form class="form-inline">
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">

      <option selected>Выберите...</option>
      <option value="1">Расписание звонков</option>
      <option value="2">1б</option>
      <option value="3">1в</option>
      <option value="3">1в</option>
      <option value="3">1в</option>
      <option value="3">1в</option>
      <option value="3">1в</option>
    </select>


    <button type="submit" class="btn btn-primary my-1">Открыть</button>
  </form>
</div>

<div class="container">
 
  <p class="text-center no-print" style="margin-top: 20px;">Расписание 1 "А" класса.</p>
</div>




<div class="main" style="margin-top: 20px;">
  <div class="container-fluid">
    <div class="row item_list">
      <div class="item">

        <table class="table table-sm">
          <thead>
            <tr>
              <th>№</th>
              <th>Время</th>
              <th>Название</th>
              <th>Кабинет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="item">

        <table class="table table-sm table-success">
          <thead>
            <tr>
              <th>№</th>
              <th>Время</th>
              <th>Название</th>
              <th>Кабинет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="item">

        <table class="table table-sm">
          <thead>
            <tr>
              <th>№</th>
              <th>Время</th>
              <th>Название</th>
              <th>Кабинет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="item">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>№</th>
              <th>Время</th>
              <th>Название</th>
              <th>Кабинет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="item">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>№</th>
              <th>Время</th>
              <th>Название</th>
              <th>Кабинет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="item">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>№</th>
              <th>Время</th>
              <th>Название</th>
              <th>Кабинет</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>9.00-10.30</td>
              <td>Русский язык</td>
              <td>1-316</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






<nav class="navbar fixed-bottom navbar-light bg-light">

  <span class="navbar-text">
    Made by @Rouvas799 ver. 0.2
  </span>
</nav>